@import url("https://fonts.googleapis.com/css2?family=Alexandria:wght@100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
/* Reset and base styles  */
* {
  padding: 0px;
  margin: 0px;
  border: none;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Links */
a,
a:link,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

/* Common */
aside,
nav,
footer,
header,
section,
main {
  display: block;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-size: inherit;
  font-weight: inherit;
}

ul,
ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

img,
svg {
  max-width: 100%;
  height: auto;
}

address {
  font-style: normal;
}

/* Form */
input,
textarea,
button,
select {
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  background-color: transparent;
}

input::-ms-clear {
  display: none;
}

textarea {
  resize: vertical;
}

button,
input[type=submit] {
  display: inline-block;
  box-shadow: none;
  background-color: transparent;
  background: none;
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

label {
  cursor: pointer;
}

legend {
  display: block;
}

input[type=file] {
  max-width: 100%;
}

* {
  transition: all 0.2s ease-in;
}

html {
  height: 100%;
}

body {
  font-family: "Alexandria", sans-serif;
  line-height: 100%;
}

.wrapper {
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

.main {
  flex: 1 1 auto;
}

.container {
  margin: 0 auto;
  max-width: 1240px;
  padding: 0 20px;
}

.logo {
  display: flex;
  align-items: center;
  gap: 11px;
}

.logo__text {
  font-size: 22px;
  font-weight: 500;
  color: #ffffff;
}

.button {
  padding: 14px 24px;
  font-size: 18px;
  line-height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #9dff3a;
  border-radius: 40px;
  color: #000000;
}

.button--icon {
  padding: 15px 24px;
  border: 1.5px solid;
  background-color: transparent;
  display: flex;
  align-items: center;
}

.section-label {
  font-size: 14px;
  color: #9dff3a;
  line-height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 12px 20px;
  border: 1px solid #2e2e2e;
  border-radius: 24px;
  backdrop-filter: blur(40px);
}

.header {
  background-color: #000000;
  padding: 24px 0;
}
.header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__menu-list {
  display: flex;
  gap: 40px;
}
.header__menu-link {
  color: #999999;
}
.header__menu-link:hover {
  color: #e5e5e5;
}
.header__actions {
  display: flex;
  gap: 16px;
}
.header__login {
  font-size: 16px;
  text-align: center;
  padding: 10px 24px;
  color: #e5e5e5;
}
.header__cta {
  font-size: 16px;
  padding: 10px 24px;
}

.hero {
  background-color: #000000;
}
.hero__container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding-top: 88px;
  padding-bottom: 88px;
}
.hero__left {
  padding: 0 27px 0 0;
  display: flex;
  flex-direction: column;
  flex: 0 1 688px;
  gap: 40px;
}
.hero__content {
  display: flex;
  flex-direction: column;
  gap: 24px;
}
.hero__label {
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 10px 12px;
  color: #9dff3a;
  border-radius: 24px;
  align-self: flex-start;
  position: relative;
  background-clip: padding-box;
  background: #000000;
}
.hero__label::before {
  content: "";
  position: absolute;
  inset: 0;
  padding: 1px;
  background-image: linear-gradient(-102deg, #4d4d4d, #b3b3b3);
  border-radius: inherit;
  opacity: 0.6;
  mask: conic-gradient(#000 0 0) content-box exclude, conic-gradient(#000 0 0);
}
.hero__label-icon {
  width: 9px;
  height: 9px;
  border-radius: 50%;
  background-color: #9dff3a;
}
.hero__label-text {
  font-size: 14px;
}
.hero__title {
  font-size: 64px;
  font-weight: 700;
  line-height: 110%;
  color: #e5e5e5;
  text-transform: capitalize;
}
.hero__desc {
  font-family: "Inter", sans-serif;
  font-size: 20px;
  line-height: 140%;
  color: #999999;
  max-width: 583px;
}
.hero__actions {
  display: flex;
  gap: 20px;
}
.hero__btn {
  color: #e5e5e5;
  gap: 6px;
}
.hero__btn-icon {
  width: 24px;
  height: 24px;
}
.hero__right {
  flex: 0 1 512px;
}
.hero__img {
  width: 100%;
  height: 100%;
}
.hero__partners {
  padding: 40px 0;
  background-color: #0f0f0f;
  color: #999999;
}
.hero__partners-container {
  max-width: 1240px;
}
.hero__partners-text {
  text-align: center;
  margin: 0 0 40px 0;
}
.hero__partners-list {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 72px;
  flex-wrap: wrap;
}
.hero__partners-item {
  flex: 0 0 129px;
}
.advs {
  background-color: #000000;
  position: relative;
}
.advs::before {
  content: "";
  width: 606px;
  height: 425px;
  display: block;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  background-color: rgba(74, 90, 236, 0.0588235294);
  filter: blur(279.799987793px);
  top: 116px;
}
.advs__container {
  padding-top: 80px;
  padding-bottom: 80px;
  text-align: center;
}
.advs__content {
  max-width: 644px;
  margin: 0 auto 80px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}
.advs__title {
  font-size: 48px;
  color: #e5e5e5;
  line-height: 100%;
}
.advs__text {
  font-family: "Inter", sans-serif;
  font-size: 18px;
  line-height: 140%;
  color: #999999;
}
.advs__list {
  display: flex;
  justify-content: center;
  gap: 24px;
  flex-wrap: wrap;
}
.advs__list-item {
  padding: 48px 36px;
  flex: 0 1 384px;
  background: rgba(255, 255, 255, 0.04);
}
.advs__icon {
  width: 48px;
  height: 48px;
  margin: 0 0 36px 0;
}
.advs__name {
  font-family: "Inter", sans-serif;
  font-size: 20px;
  line-height: 140%;
  margin: 0 0 16px 0;
  color: #e5e5e5;
}
.advs__desc {
  color: #999999;
}

.stats {
  background-color: #0f0f0f;
  position: relative;
}
.stats::before {
  content: "";
  width: 606px;
  height: 425px;
  display: block;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  background-color: rgba(74, 90, 236, 0.0588235294);
  filter: blur(279.799987793px);
  bottom: 31px;
}
.stats__container {
  padding-top: 120px;
  padding-bottom: 120px;
  text-align: center;
}
.stats__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  max-width: 890px;
  margin: 0 auto 72px;
}
.stats__title {
  font-size: 48px;
  max-width: 704px;
  color: #e5e5e5;
  line-height: 100%;
}
.stats__desc {
  max-width: 644px;
  font-size: 18px;
  line-height: 140%;
  color: #999999;
  font-family: "Inter", sans-serif;
}
.stats__list {
  display: flex;
  gap: 72px;
  justify-content: center;
  max-width: 484px;
  margin: 0 auto;
}
.stats__item {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.stats__value {
  font-size: 48px;
  color: #9dff3a;
  line-height: 100%;
}
.stats__caption {
  font-size: 20px;
  line-height: 140%;
  color: #999999;
}

.features {
  background-color: #000000;
  backdrop-filter: blur(240px);
  position: relative;
}
.features::before {
  content: "";
  width: 606px;
  height: 425px;
  display: block;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  background-color: rgba(74, 90, 236, 0.0588235294);
  filter: blur(279.799987793px);
  top: 96px;
}
.features__container {
  padding-top: 60px;
  padding-bottom: 60px;
}
.features_content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  text-align: center;
  max-width: 890px;
  margin: 0 auto 80px;
}
.features__title {
  font-size: 48px;
  color: #e5e5e5;
  line-height: 100%;
}
.features__text {
  font-family: "Inter", sans-serif;
  font-size: 18px;
  line-height: 140%;
  color: #999999;
  max-width: 644px;
}
.features__body {
  display: flex;
  gap: 72px;
  justify-content: center;
  flex-wrap: wrap;
}
.features__visual {
  flex: 0 1 506px;
}
.features__img-container {
  width: 506px;
  height: 506px;
}
.features__img {
  width: 100%;
  height: 100%;
}
.features__list {
  flex: 0 1 622px;
  display: flex;
  flex-direction: column;
  gap: 40px;
}
.features__list-item {
  background-color: #0f0f0f;
  display: flex;
  gap: 24px;
  padding: 30px 20px;
  border: 1px solid transparent;
  border-radius: 20px;
}
.features__item-icon {
  width: 30px;
  height: 30px;
}
.features__item-content {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.features__item-name {
  font-family: "Inter", sans-serif;
  font-size: 20px;
  line-height: 140%;
  color: #e5e5e5;
}
.features__item-desc {
  line-height: 122%;
  color: #999999;
}

.faq {
  background-color: #000000;
  position: relative;
}
.faq::before {
  content: "";
  width: 606px;
  height: 425px;
  display: block;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  background-color: rgba(74, 90, 236, 0.0588235294);
  filter: blur(279.799987793px);
  top: 116px;
}
.faq__container {
  padding-top: 80px;
  padding-bottom: 80px;
  max-width: 895px;
}
.faq__content {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
  margin: 0 0 72px 0;
  text-align: center;
}
.faq__title {
  font-size: 48px;
  color: #e5e5e5;
  line-height: 100%;
}
.faq__desc {
  font-family: "Inter", sans-serif;
  font-size: 18px;
  line-height: 140%;
  max-width: 644px;
  color: #999999;
}
.faq__list {
  max-width: 792px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.faq__item {
  padding: 16px 20px;
  border: 1px solid #2e2e2e;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  cursor: pointer;
}
.faq__item-text {
  color: #e5e5e5;
}
.faq__item-icon {
  width: 20px;
  height: 20px;
}

.revolutionary {
  background-color: #0f0f0f;
}
.revolutionary__container {
  max-width: 918px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
  text-align: center;
  padding-top: 80px;
  padding-bottom: 80px;
}
.revolutionary__title {
  font-size: 48px;
  line-height: 100%;
  color: #e5e5e5;
}
.revolutionary__desc {
  font-family: "Inter", sans-serif;
  max-width: 644px;
  font-size: 18px;
  line-height: 140%;
  color: #999999;
}
.revolutionary__link {
  border-radius: 0;
}

.footer {
  background-color: #000000;
}
.footer__container {
  padding-top: 80px;
}
.footer__top {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.footer__left {
  display: flex;
  justify-content: space-between;
  gap: 92px;
  flex-wrap: wrap;
}
.footer__logo {
  align-self: flex-start;
}
.footer__nav-subtitle {
  font-family: "Inter", sans-serif;
  font-size: 20px;
  line-height: 140%;
  color: #e5e5e5;
  margin: 0 0 24px 0;
}
.footer__nav-list {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.footer__nav-link {
  font-size: 14px;
  color: #999999;
}
.footer__form {
  flex: 0 1 385px;
}
.footer__form-subtitle {
  max-width: 198px;
  font-family: "Inter", sans-serif;
  font-size: 20px;
  line-height: 140%;
  color: #d8d8d8;
  margin: 0 0 20px 0;
}
.footer__form-container {
  position: relative;
}
.footer__form-input {
  width: 100%;
  color: #999999;
  border-bottom: 0.5px solid #999999;
  padding: 11.5px 0 27.5px;
  outline: none;
}
.footer__form-input ::placeholder {
  font-size: 14px;
  line-height: 100%;
  color: #999999;
}
.footer__btn {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #9dff3a;
  position: absolute;
  top: 0;
  right: 0;
}
.footer__copyright {
  font-size: 12px;
  color: #999999;
  text-align: center;
  padding: 40px 0;
}

/*# sourceMappingURL=main.css.map */
