@use './vars';
@use './mixins';

.faq {
  background-color: vars.$color-black;

  @include mixins.absolute-overlay {
    top: 116px;
  }

  &__container {
    padding-top: 80px;
    padding-bottom: 80px;
    max-width: 895px;
  }

  &__content {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    margin: 0 0 72px 0;
    text-align: center;
  }

  &__title {
    font-size: 48px;
    color: vars.$color-white;
    line-height: 100%;
  }

  &__desc {
    font-family: 'Inter', sans-serif;
    font-size: 18px;
    line-height: 140%;
    max-width: 644px;
    color: vars.$color-gray1;
  }

  &__list {
    max-width: 792px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 30px;
  }

  &__item {
    padding: 16px 20px;
    border: 1px solid vars.$color-gray3;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    cursor: pointer;
  }

  &__item-text {
    color: vars.$color-white;
  }

  &__item-icon {
    width: 20px;
    height: 20px;
  }
}
