@use './vars';

@mixin absolute-overlay {
  position: relative;

  &::before {
    content: '';
    width: 606px;
    height: 425px;
    display: block;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    background-color: vars.$color-overlay;
    filter: blur(279.79998779296875px);
    @content;
  }
}

@mixin gradient-border($borderWidth) {
  &::before {
    content: '';
    position: absolute;
    inset: 0;
    padding: $borderWidth;
    background-image: vars.$color-border-gradient;
    border-radius: inherit;
    opacity: 0.6;
    mask:
      conic-gradient(#000 0 0) content-box exclude,
      conic-gradient(#000 0 0);
  }
}
