@use 'vars';
@use 'mixins';

.testimonial {
  overflow: hidden;
  background-color: vars.$color-gray4;
  position: relative;

  @include mixins.absolute-overlay {
    top: 116px;
  }

  &__container {
    padding-top: 80px;
    padding-bottom: 150px;
  }

  &__content {
    max-width: 644px;
    margin: 0 auto 72px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }

  &__title {
    font-size: 48px;
    line-height: 100%;
    color: vars.$color-white;
    text-transform: capitalize;
  }

  &__desc {
    font-family: 'Inter', sans-serif;
    font-size: 18px;
    line-height: 140%;
    color: vars.$color-gray1;
  }

  &__list {
    display: flex;
    gap: 20px;
    width: 1552px;
    margin-left: 50%;
    transform: translate(-50%);
  }

  &__list-item {
    background-color: vars.$color-black;
    flex-basis: 373px;
    position: relative;
    $borderWidth: 1px;
    border-radius: 16px;
    padding: 32px;
    @include mixins.gradient-border($borderWidth);
  }

  &__list-text {
    color: #ededf2;
    margin: 0 0 32px 0;
  }

  &__list-person {
    display: flex;
    align-items: center;
    gap: 16px;
  }

  &__list-img {
    width: 48px;
    height: 48px;
  }

  &__list-name {
    font-size: 14px;
    color: #ffffff;
  }

  &__list-job {
    font-size: 12px;
    color: vars.$color-gray2;
  }

  @include mixins.media-mobile {
    &__container {
      padding-top: 40px;
      padding-bottom: 40px;
    }

    &__content {
      gap: 16px;
      margin: 0 auto 32px;
    }

    &__title {
      font-size: 28px;
    }

    &__desc {
      font-size: 16px;
    }

    &__list-item {
      flex: 0 0 343px;
    }
  }
}
