$container-width: 1240px;
$container-padding: 0 20px;
$color-black: #000000;
$color-green: #9dff3a;
$color-gradient: linear-gradient(180deg, #75a941 0%, #3a7500 100%);
$color-white: #e5e5e5;
$color-gray1: #999999;
$color-gray2: #4d4d4d;
$color-gray3: #2e2e2e;
$color-gray4: #0f0f0f;
