$color-primary: #0f0f0f;
$color-secondary: #ffffff;
$background-promo: #c2b4a3;
$background-body: #0f0f0f;
$promo-width: 1584px;
$line-height: 150%;
$border-radius: 20px;
$background-link: #1f1f1f;
$breakpoints: (
  xl: 1440px,
  lg: 1024px,
  md: 768px,
);
