@import url('https://fonts.googleapis.com/css2?family=Instrument+Serif:ital@0;1&family=Pontano+Sans:wght@300..700&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  color: #205529;
  font-family: 'Pontano Sans', sans-serif;
}

.offer {
  margin: 64px 0;
}

.offer .container {
  font-weight: 500;
  background-color: #faf2e6;
  padding: 40px 28px;
  border-radius: 12px;
  margin: 0 auto;
}

.container {
  padding: 0 10px;
  text-align: center;
  max-width: 480px;
}

.offer__title {
  display: inline-block;
  padding: 2px 9px;
  margin-bottom: 12px;
  font-size: 12px;
  line-height: 132%;
  border: 1px solid #205529;
  border-radius: 5px;
}

.offer__text {
  font-size: 36px;
  font-family: 'Instrument Serif', serif;
  white-space: pre-line;
  line-height: 108%;
  margin-bottom: 12px;
  font-weight: 400;
}

.offer__info {
  font-size: 14px;
  margin-bottom: 20px;
  line-height: 136%;
}

.offer__btn {
  font-size: 14px;
  line-height: 136%;
  color: #faf2e6;
  padding: 12px 16px;
  border-radius: 5px;
  background-color: #205529;
  outline: none;
  border: none;
  font-weight: 500;
}
