* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
  font-size: 24px;
}

html,
body {
  min-height: 150vh;
}

a {
  color: #ffffff;
  text-decoration: none;
}

ul {
  list-style: none;
}

.img-container {
  position: absolute;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.img {
  width: 500px;
  height: 500px;
}

.img-container::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1;
  pointer-events: none;
}

.btn {
  color: #ffffff;
  font-size: 30px;
  font-weight: 600;
  padding: 8px 16px;
  background-color: teal;
  border: none;
  border-radius: 10px;
  position: fixed;
  right: 50px;
  bottom: 50px;
  cursor: pointer;
}

.header {
  color: #ffffff;
  background-color: teal;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  top: 0;
  z-index: 1;
}

.nav__list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}

.nav__item {
}
