@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  line-height: 100%;
  color: #1c1c1c;
}

.filters {
  max-width: 480px;
  padding: 34px 0 0 32px;
}

.filters__title {
  font-size: 24px;
  font-weight: 500;
  margin: 0 0 50px 0;
}

.filters__radio-text {
  font-size: 16px;
  font-weight: 500;
  text-transform: uppercase;
  margin: 0 0 15px 0;
}

.filters__radio-group {
  margin: 0 0 30.5px 0;
  border: none;
}

.filters__radio-options {
  display: flex;
  gap: 35px;
}

.filters__radio-label {
  display: flex;
  align-items: center;
}

.filters__radio-input {
  width: 0;
  height: 0;
  position: absolute;
  z-index: -1;
}

.filters__radio-custom {
  display: inline-block;
  width: 26px;
  height: 26px;
  border: 2px solid #d4d4d4;
  border-radius: 50%;
  background-color: #ffffff;
  margin: 0 10px 0 0;
  position: relative;
  transition: all 0.2s ease-in;
}

.filters__radio-custom::before {
  content: '';
  display: inline-block;
  width: 14px;
  height: 14px;
  background-image: url('./icons/radio-icon.svg');
  background-repeat: no-repeat;
  background-size: contain;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  transition: all 0.2s ease-in;
}

.filters__radio-input:checked + .filters__radio-custom {
  border-color: #463998;
}

.filters__radio-input:checked + .filters__radio-custom::before {
  transform: translate(-50%, -50%) scale(1);
}

.filters__checkbox-group {
  border: none;
}

.filters__checkbox-text {
  font-size: 16px;
  font-weight: 500;
  text-transform: uppercase;
  margin: 0 0 16px 0;
}

.filters__checkbox-options {
  display: flex;
  flex-direction: column;
  gap: 13px;
  padding: 6px 0 6px 0;
}

.filters__checkbox-label {
  display: flex;
  align-items: center;
}

.filters__checkbox-input {
  position: absolute;
  width: 0;
  height: 0;
  z-index: -1;
}

.filters__checkbox-custom {
  display: inline-block;
  width: 26px;
  height: 26px;
  border: 2px solid #d4d4d4;
  background-color: #ffffff;
  border-radius: 50%;
  margin: 0 10px 0 0;
  position: relative;
  transition: all 0.2s ease-in;
}

.filters__checkbox-custom::before {
  content: '';
  display: inline-block;
  width: 16px;
  height: 14px;
  background-image: url('./icons/check-icon.svg');
  background-repeat: no-repeat;
  background-size: contain;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  transition: all 0.2s ease-in;
}

.filters__checkbox-input:checked + .filters__checkbox-custom {
  background-color: #463998;
  border: none;
}

.filters__checkbox-input:checked + .filters__checkbox-custom::before {
  transform: translate(-50%, -50%) scale(1);
}
