@import url('https://fonts.googleapis.com/css2?family=Inter+Tight:ital,wght@0,100..900;1,100..900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Inter Tight', sans-serif;
}

.team {
  margin: 130px 0 0;
}

.container {
  max-width: 1170px;
  margin: 0 auto;
  padding: 0 15px;
}

.team .container {
  display: flex;
  gap: 30px;
}

.person {
  flex: 1 0 360px;
  border-bottom: 2px solid #00ac6d;
  padding-bottom: 20px;
}

.person__wrapper-content {
  height: 380px;
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0 auto 20px;
  position: relative;
}

.person:nth-child(1) .person__wrapper-content {
  background-image: url('./img/bg-1.png');
}

.person:nth-child(2) .person__wrapper-content {
  background-image: url('./img/bg-2.png');
}

.person:nth-child(3) .person__wrapper-content {
  background-image: url('./img/bg-1.png');
}

.person__name {
  font-size: 24px;
  font-weight: 500;
  line-height: 110.00000000000001%;
  letter-spacing: -2%;
  text-transform: uppercase;
  margin-bottom: 14px;
  color: #000704;
}

.person__position {
  font-size: 14px;
  color: #7f8381;
  line-height: 160%;
}

.person__social {
  position: absolute;
  right: 28px;
  bottom: 24px;
  display: flex;
  gap: 10px;
}

.person__social-link {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  background-color: #ff2900;
  display: flex;
  justify-content: center;
  align-items: center;
}

.person__social-icon {
  width: 14px;
  height: 14px;
}
