@import url('https://fonts.googleapis.com/css2?family=Inter+Tight:ital,wght@0,500;1,500&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #070707;
  font-family: 'Inter Tight', sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  position: relative;
}

a {
  text-decoration: none;
  color: #070707;
}

.header {
  width: 1312px;
  padding: 22px 14px;
  color: #070707;
  background-color: #ffffff;
  border-radius: 76px;
  position: absolute;
  top: 31px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__logo {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
}

.header__title {
  font-size: 24px;
  font-weight: 500;
}

.nav__list {
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 32px;
}

.nav__link {
  font-size: 14px;
}

.header__contact {
  background-color: #f5f5f5;
  border-radius: 72px;
  padding: 12px 10px;
}
