@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  line-height: 100%;
  color: #585858;
  font-size: 14px;
}

button {
  background-color: transparent;
  border: none;
  text-align: center;
  display: block;
  cursor: pointer;
}

.form {
  max-width: 544px;
  margin: 0 auto;
}

.form__wrapper {
  max-width: 464px;
  padding: 52px 0 52px 0;
  margin: 0 auto;
}

input::placeholder,
textarea::placeholder {
  color: #a1a1a1;
  font-weight: 300;
  font-size: 16px;
  font-family: 'Roboto', sans-serif;
}

.form__title {
  font-size: 23px;
  text-transform: uppercase;
  max-width: 244px;
  color: #1c1c1c;
  font-weight: 400;
  line-height: 118%;
  text-align: center;
  margin: 0 auto 24px;
}

.form__text-italic {
  font-style: italic;
}

.form__groups {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(226px, 1fr));
  gap: 12px;
  margin: 0 0 26px 0;
}

.form__group {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.form__label {
  padding: 0 0 0 26px;
}

.form__input {
  outline: none;
  border: 1px solid #d4d4d4;
  padding: 10px 26px 11px 26px;
  border-radius: 30px;
}

.form_textarea-wrapper {
  display: flex;
  flex-direction: column;
  gap: 4px;
  margin: 0 0 24px 0;
}

.form_textarea {
  outline: none;
  resize: none;
  border: 1px solid #d4d4d4;
  border-radius: 30px;
  padding: 20.55px 26px 20.55px 26px;
  height: 200px;
  font-family: 'Roboto', sans-serif;
}

.form__btn {
  font-size: 16px;
  text-transform: uppercase;
  font-weight: 500;
  color: #ffffff;
  background-color: #ec1c24;
  margin: 10.5px;
  width: 100%;
  max-width: 220px;
  margin: 0 auto;
  padding: 10.5px 21px 10.5px 21px;
  border-radius: 30px;
}
