@import url('https://fonts.googleapis.com/css2?family=Inter+Tight:ital,wght@0,100..900;1,100..900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Inter Tight', sans-serif;
}

.team {
  margin: 130px 0 0;
}

.team__container {
  max-width: 1140px;
  margin: 0 auto;
  display: flex;
  gap: 30px;
}

.team__card {
  flex: 1 0 360px;
  border-bottom: 2px solid #00ac6d;
  padding-bottom: 20px;
}

.team__card-img {
  height: 380px;
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0 auto 20px;
  position: relative;
}

.team__card:nth-child(1) .team__card-img {
  background-image: url('./img/bg-1.png');
}

.team__card:nth-child(2) .team__card-img {
  background-image: url('./img/bg-2.png');
}

.team__card:nth-child(3) .team__card-img {
  background-image: url('./img/bg-1.png');
}

.team__card-title {
  font-size: 24px;
  font-weight: 500;
  line-height: 110.00000000000001%;
  letter-spacing: -2%;
  text-transform: uppercase;
  margin: 0 auto 14px;
  color: #000704;
}

.team__card-text {
  font-size: 14px;
  color: #7f8381;
  line-height: 160%;
}

.social {
  position: absolute;
  right: 28px;
  bottom: 24px;
}

.social__container {
  display: flex;
  gap: 10px;
}

.social__link {
  width: 32px;
  height: 32px;
}

.social__icon {
  width: 100%;
  height: 100%;
}
