$font-poppins: 'Poppins', sans-serif;
$font-openSans: 'Open Sans', sans-serif;
$color-primary: #ffffff;
$fontSize-h1: 60px;
$fontSize-text: 24px;
$lineHeight-h1: 100%;
$breakpoints: (
  md: 1024px,
  sm: 767px,
);
