@use 'mixins';
@use 'vars';

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

input,
button {
  outline: 0;
  border: none;
}

input::placeholder {
  font-family: vars.$font-openSans;
  font-size: 14px;
  font-weight: 500;
  color: #393939;
}

.cta {
  background-image: url('./../img/bg-cta.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  padding: 123.5px 0;
  text-align: center;

  @include mixins.media-max(md) {
    padding: 50px 0;
  }

  @include mixins.media-max(sm) {
    padding: 72px 0;
  }

  .container {
    max-width: 990px;
    margin: 0 auto;
    padding: 0 15px;
    text-align: center;

    @include mixins.media-max(md) {
      max-width: 690px;
    }

    @include mixins.media-max(sm) {
      max-width: 100%;
      padding: 0 35px;
    }
  }

  &__content {
    margin-bottom: 24px;
  }

  &__title {
    font-family: vars.$font-poppins;
    font-size: vars.$fontSize-h1;
    font-weight: 600;
    font-style: italic;
    line-height: vars.$lineHeight-h1;
    margin-bottom: 8px;
    color: vars.$color-primary;

    @include mixins.media-max(md) {
      font-size: 48px;
    }

    @include mixins.media-max(sm) {
      font-size: 30px;
      line-height: 36px;
    }
  }

  &__text {
    max-width: 674px;
    font-family: vars.$font-openSans;
    font-size: vars.$fontSize-text;
    line-height: 32px;
    font-weight: 500;
    margin: 0 auto;
    color: vars.$color-primary;

    @include mixins.media-max(md) {
      max-width: 380px;
      font-size: 18px;
      line-height: 28px;
      font-weight: 400;
    }

    @include mixins.media-max(sm) {
      max-width: 305px;
      font-size: 14px;
      line-height: 16px;
    }
  }

  &__subscribe {
    max-width: 653px;
    width: 100%;
    margin: 0 auto;
    display: flex;
  }

  &__subscribe-input {
    flex: 0 1 527px;
    padding: 12px;
    font-size: 14px;
    line-height: 24px;
    font-weight: 500;
    color: #393939;

    @include mixins.media-max(sm) {
      font-size: 12px;
      line-height: 16px;
      padding: 16px 12px;
    }
  }

  &__subscribe-button {
    font-family: vars.$font-openSans;
    font-size: 18px;
    line-height: 28px;
    font-weight: 500;
    text-transform: uppercase;
    color: vars.$color-primary;
    flex-grow: 1;
    display: flex;
    gap: 6px;
    align-items: center;
    padding: 10px 16px;
    background-color: #010101;
    white-space: nowrap;
    cursor: pointer;

    @include mixins.media-max(sm) {
      font-size: 14px;
      line-height: 16px;
      padding: 16px;
    }
  }

  &__subscribe-icon {
    width: 16px;
    height: 16px;
  }
}
