* {
  margin: 0;
  padding: 0;
}

html {
  height: 100vh;
}

body {
  height: 100%;
}

.bg {
  height: 100%;
  background-image: url('./bg.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}
