@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #070707;
  color: #ffffff;
  font-family: 'Roboto', sans-serif;
}

.services {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  max-width: 1140px;
  padding: 0 10px;
  margin: 0 auto;
}

.title {
  font-size: 48px;
  font-weight: 600;
  line-height: 1.166;
  margin: 0 auto 14px;
  text-align: center;
  max-width: 639px;
}

.desc {
  font-size: 14px;
  line-height: 1.429;
  text-align: center;
  margin: 0 auto 60px;
  max-width: 639px;
}

.services__wrapper {
  display: grid;
  gap: 24px;
  grid-template-columns: repeat(2, 1fr);
}

.service {
  padding: 24px;
  border: 1px solid #ffffff;
  border-radius: 12px;
  background-color: rgba(255, 255, 255, 0.22);
}

.service__title {
  font-size: 32px;
  font-weight: 600;
  line-height: 1.25;
  margin-bottom: 12px;
}

.service__text {
  line-height: 1.5;
  text-align: justify;
}

.service__premium {
  color: rgba(7, 7, 7, 1);
  background-color: #f5aa21;
  grid-column: span 2;
  padding: 24px;
  border: 1px solid #ffffff;
  border-radius: 12px;
}
